<?xml version="1.0" encoding="utf-8" ?>
<!-- Windows Service服务 设置 -->
<Jobs serverName="demo-server" displayName="测试服务" description="测试服务的描述">
  <!-- job 节点用法-->
  <!-- name（唯一值）：区别job； type|exePath（必填项，二选一）: 执行动作的类型 或 可执行文件路径； Workdir(可选值): 对应的工作目录文件夹，不填默认为启动根文件夹 -->
  <!-- cornExpress(必填项):Quartz Corn表达式，执行频率设置，有关Corn表达式用法，请参见Quartz.Net项目的Corn配置；-->
  <!-- cornExpress（可选项,单位：秒）：任务的有效期，举例：如果您的上一次任务执行时间过长，错过了本次执行时间，则在有效期范围内可继续开展本次执行。  -->
  <!--<Job name="demoJob1" type="Windows.TaskSchedule.Extends.DemoJob,Windows.TaskSchedule.Extends" workDir="DemoJob" cornExpress="0/2 * * * * ?"  />-->

  <Job name="demoJob1" type="Windows.TaskSchedule.Extends.DemoJob,Windows.TaskSchedule.Extends" workDir="" cornExpress="0/2 * * * * ?" />
  <Job name="demoJob2" type="Windows.TaskSchedule.Test.Jobs.TestJobInClass,Windows.TaskSchedule.Test" workDir="" cornExpress="0 37 13 * * ?" expireSecond="10" />
  <!--<Job name="demoJob3" type="Biz.WhiteHorseShopExDataSync.Jobs.GetAfterSalesOrderJob,Biz.WhiteHorseShopExDataSync" workDir="" cornExpress="* 1/1 * * * ?" expireSecond="30"  />-->
  <!-- 测试用例：exe执行 -->
  <!--<Job name="demoJob2" exePath="C:\Windows\System32\cmd.exe" arguments="" cornExpress="0/2 * * * * ?" expireSecond="180" />-->
</Jobs>
