<?xml version= "1.0"   encoding= "utf-8"   ?>
<nlog xmlns= "http://nlog-project.org/schemas/NLog.xsd"
xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance" >  
  <targets>
    <target xsi:type="Console"  name="console_logger" layout="记录时间:${longdate} | 级别:${level:uppercase=true} | 类:${callsite} | 描述:${message}" />
    <target xsi:type="File"     name="system_logger"  layout= "记录时间:${longdate}| 级别:${level:uppercase=true} | 类:${callsite} |${newline}描述:${message}"   fileName= "${basedir}/logs/${shortdate}.log"  />
    <!-- 邮件 -->
    <!--<target xsi:type="Mail" name="mail_logger" />-->
  </targets>
  <rules>
    <logger  name= "Windows.TaskSchedule.*"   minlevel= "Trace"   writeTo= "console_Logger,system_logger" />    
  </rules>
</nlog>
